<!DOCTYPE html>
<html>
  <% include ./partials/head %>
  <body>
    <% include ./partials/nav %>

    <main id="container">
      <% include ./partials/flash %>
      <h2>Hello <%= user.username %></h2>
    </main>
  </body>
</html>
